body {
    padding: 0;
    margin: 0;
}
main {
    overflow: hidden;
}

h1 {
    font-size: 60px;
    text-align: center;
}

.catSection {
    padding-top: 50px;
    padding-bottom: 50px;
    background: rgb(0,249,255);
    background: radial-gradient(circle, rgba(0,249,255,1) 0%, rgba(240,0,251,1) 100%);
}
.cat {
    display: block;
    margin: 0 auto;
    width: 97vw;
    object-fit: contain;
}